.logo2{
    width: 300px;
}
.loginbox1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.inputcss{
    border-radius: 15px;
    background-color: #e7e7e7;
    border: 0.5px solid #707070;
    width: 96%;
}
.submitcsss{
    background-color: #82e88f;
    border: 0.5px solid #7b7b7b;
    border-radius: 15px;
    height: 36px;
    width: 155px;
}